<footer>
	<div class="container">
		<p>Copyright &copy; 2017, The Bookshelf | <% if current_user %><%= link_to "Backend", admin_books_path %><% else %><%= link_to "Admin Login", admin_login_path, target:'_blank' %><% end %></p>
	</div>
</footer>
