<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>The BookShelf</li>
			<li>Belmont, St.George's</li>
			<li>Grenada</li>
			<li>Phone: (473) 403-5618</li>
			<li>Email: stephenj.me@gmail.com</li>
		</ul>
	</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div class="list-group">
		<ul class="pagination">
			<h4>Filter By Category</h4>
			<% @categories.each do |category| %>
				<li>
					<%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>