<div id="books-index">
	<% @books.each_slice(4) do |book| %>
		<div class="row">
			<% book.each do |book| %>
				<div class="col-md-3 col-sm-3 index-books">
					<div class="clearfix"></div>
					<%= image_tag book.image.url, :size => "100x225", class: "thumbnail" %>
					<%=link_to 'Read More', book_path(book), class: "btn btn-primary" %>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
		<%= will_paginate @books %>
	<% end %>

</div>
