<h2 class="page-header">Categories <%= link_to "Create New", new_admin_category_path, class: 'btn btn-primary pull-right'%></h2>

<table class="table table-striped">
	<tr>
		<th>Category Name</th>
		<th>Actions</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= link_to 'Edit', edit_admin_category_path(category.id) %> | <%= link_to 'Delete', admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>
