<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum feugiat arcu, sit amet porttitor libero condimentum ut. Donec laoreet sapien at mauris gravida consequat et nec nisl. Integer rutrum elit sit amet neque consectetur, eu euismod libero egestas. Phasellus imperdiet ornare semper. Donec nec mi vestibulum, laoreet erat eget, convallis felis. Nullam nec ornare orci, dignissim dictum sem. Maecenas sit amet justo nec quam vulputate rhoncus in sed sapien. Praesent ut sodales tellus. Quisque augue sapien, imperdiet sed feugiat ut, mattis eu odio. Vivamus purus metus, cursus sit amet mollis sit amet, dapibus quis elit. Morbi id sapien ante. Mauris tempus ac mi eu tempus. Phasellus interdum, urna sed posuere bibendum, lacus lacus facilisis quam, eget scelerisque urna nibh id felis. Praesent aliquet nulla at felis venenatis, a consectetur neque vehicula. Quisque elementum a diam ac facilisis. </p>

<div class="well">
	<h3>Location Info</h3>
	<ul>
		<li>The BookStore</li>
		<li>499 Massachusetts Ave, Unit 2</li>
		<li>Boston, MA 02110</li>
		<li>Phone: (617) 555-5555</li>
		<li>Email: support@thebookstore.com</li>
	</ul>
</div>
