 body{
 	padding-top: 50px;
 	font-family: 'Arial', sans-serif;
 	font-size: 14px;
 	color: $secondary-color;
 	line-height: 1.5em;
 }

 header{
 	background: $primary-color;
 	color: #fff;
 	height: 80px;
 	margin-bottom: 20px;
 }

 footer{
 	background: $primary-color;
 	color: #fff;
 	height: 60px;
 	margin-top: 20px;
 	text-align: center;
 	padding-top: 20px;
 }

 #books-index h3{
 	text-align: center;
 }

  #books-index img{
 	width: 100%;
 	padding: 3px;
 	border: 1px #ccc solid;
 }

 #books-index h3{
 	height: 50px;
 }

 #books-index .btn{
 	display: block;
 	margin-top: 20px;
 }

 #books-show h2{
 	background: #f4f4f4;
 }

 #books-show h3{
 	background: #f4f4f4;
 }

 .books-show-left{
 	float: left;
 	width: 30%;
 	object-fit: fill;
 }

 .books-show-left img{
 	height: 100%;
 }

 .books-show-right{
 	float: left;
 	width: 60%;
 	/*margin-top: 10px;*/
 }

  .books-show-right h3{
 	margin-top: 0px;
 }

 #books-show .btn{
 	margin: 10px 0 0 0;
 }

 .search-form .form-group{
 	margin-top:8px;
 }

 .side-bar{
 	background-color: #d2d3d5;
 	border-radius: 10px;
 }

 .list-group-item {
 	margin:2px;
 }

 .index-books{
 	margin-top: 10px;
 }